/*
    Позиционирование
    Блочная модель
    Типографика
    Оформление
    Анимация
    Разное

    Сгруппированные объявления в правиле отделены друг от друга пустой строкой.
*/

:root {
  --bg-color: #f7e8ba;
  --main-color: #950581;
  --main-color-active: #f318d5;
  --light-color: #fafafa;
  --text-color: #111111;
  --code-snippet-bg: #f5f5f5;
  --links-list-color: #1e73b8;
  --links-list-color-active: #469fe7;

  --main-font: "Times New Roman", "Times", "Baskerville", "Georgia", serif;
  --title-font: "Garamond", serif;
  --section-title-font: "Exo", "Arial", "Helvetica", sans-serif;
  --code-snippet-font: "Hack", "Consolas", monotype;
}

@keyframes menu-animation {
  100% {
    color: var(--light-color);
    background-color: var(--main-color-active);
  }
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  width: 60%;
  margin: auto;
  font-size: 18px;
  background-color: var(--light-color);
  box-shadow: 0.5em 0.5em 10px rgba(0, 0, 0, 0.5);
}

header {
  background-color: var(--main-color);
  padding-bottom: 0.05em;
  margin-bottom: 0;
}

header h1 {
  padding-top: 1em;
  margin-bottom: 0;
  color: var(--light-color);
  font-family: var(--title-font);
  text-align: center;
}

header h2 {
  color: var(--light-color);
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

header p {
  font-size: 1.3em;
  font-weight: bold;
}

nav {
  text-align: center;
  background-color: var(--main-color);
}

.menu {
  font-family: var(--section-title-font);
}

nav ul {
  margin-top: 0;
  padding: 0; /* откуда берется отступ в 40px слева?! */
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a,
nav ul li a:visited {
  padding: 0 0.5em;
  color: var(--light-color);
  background-color: var(--main-color);
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  animation: menu-animation 0.5s;
  animation-fill-mode: forwards;
}

main {
  margin: 0 1em;
}

section {
  margin-bottom: 3em;
}

section h2 {
  padding: 0.3em;
  padding-left: 1em;
  font-family: var(--section-title-font);
  color: var(--light-color);
  background-color: var(--main-color);
}

/* TODO debug */
section p {
  text-indent: 1.5em;
  line-height: 1.4em;
  padding: 0 1em;
}

.person {
  filter: blur(10px);
  margin-left: 1em;
}


.emph-text {
  color: var(--main-color);
  font-weight: bold;
}

.item-list {
  list-style-type: disc;
}

.item-list li {
  padding: 0.5em 0;
}

.item-list > li::marker {
  color: var(--main-color);
}

.links-list {
  list-style-type: none;
}

.links-list li {
  padding: 0.5em 0;
}

.links-list a,
.contacts-table a {
  padding: 0 10px;
  color: var(--links-list-color);
  text-decoration: none;
}

.links-list a:hover,
.contacts-table a:hover {
  color: var(--links-list-color-active);
  border-bottom: 1px solid var(--links-list-color-active);
}

.code-snippet {
  padding: 5px 10px;
  background-color: var(--code-snippet-bg);
  font-family: var(--code-snippet-font);
  font-size: 0.8em;
}

.project-list section p {
  text-indent: 0;
  margin-bottom: 0.5em;
}

.project-list > li::marker {
  color: var(--main-color);
  font-weight: bold;
}

.project-list h3 a {
  color: var(--main-color);
  border: none;
  text-decoration: none;
}

.project-list h3 a:hover {
  color: var(--main-color-active);
  border-bottom: 1px solid var(--main-color-active);
}

.contacts-table td {
  padding: 0.3em 1em;
}

.contacts-table td:first-child {
  font-weight: bold;
  color: var(--main-color);
  text-transform: uppercase;
}

footer {
  background-color: var(--main-color);
  padding: 1em 2em;
  padding-bottom: 0.1em;
}

footer small {
  font-size: 0.7em;
  font-weight: bold;
  color: var(--light-color);
}

footer small a {
  color: var(--light-color);
}

