:root {
  --bg-color: #f7e8ba;
  --main-color: #950581;
  --main-color-active: #f318d5;
  --light-color: #fafafa;
  --text-color: #111111;
  --code-snippet-bg: #f5f5f5;
  --links-list-color: #1e73b8;
  --links-list-color-active: #469fe7;

  --main-font: "Open Sans", "Arial", "Helvetica", sans-serif;
  --title-font: "EB Garamond", "Georgia", serif;
  --section-title-font: "Exo", "Arial", "Helvetica", sans-serif;
  --code-snippet-font: "Hack", "Consolas", monotype;
}

@keyframes menu-animation {
  100% {
    color: var(--light-color);
    background-color: var(--main-color-active);
  }
}

html {
  font-size: 10px;
}

body {
  font-family: var(--main-font);
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--links-list-color);
  text-decoration: none;
}

a:hover {
  color: var(--links-list-color-active);
  border-bottom: 1px solid var(--links-list-color-active);
}

.container {
  width: 60%;
  margin: auto;
  background-color: var(--light-color);
  box-shadow: 1rem 1rem 10px rgba(0, 0, 0, 0.5);
}

.header {
  padding-bottom: 0.1rem;
  background-color: var(--main-color);
}

.header__title {
  padding-top: 3rem;
  margin-bottom: 2rem;
  font-family: var(--title-font);
  text-align: center;
  color: var(--light-color);
}

.header__subtitle {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--light-color);
}

.navigation {
  padding: 0;
  font-family: var(--section-title-font);
  font-weight: bold;
  text-align: center;
  background-color: var(--main-color);
}

.navigation li {
  margin-right: 0.5rem;
  display: inline-block;
}

.navigation a {
  padding: 0 0.5rem;
  color: var(--light-color);
}

.navigation a:hover {
  border-bottom: none;
  text-decoration: none;
  color: var(--light-color);
  animation: menu-animation 0.5s;
  animation-fill-mode: forwards;
}

main {
  width: 90%;
  margin: auto;
}

section {
  margin-bottom: 4rem;
}

.section__image:hover,
.footer__image:hover {
  border-bottom: none;
  text-decoration: none;
}

.section__emphtext {
  font-weight: bold;
  color: var(--main-color);
}

.section__title {
  padding: 1rem;
  padding-left: 3rem;
  font-family: var(--section-title-font);
  color: var(--light-color);
  background-color: var(--main-color);
}

section p {
  padding: 0 1rem;
  text-indent: 3rem;
}

.person {
  filter: blur(10px);
  margin-left: 1em;
}

.section__items {
  list-style-type: disc;
}

.section__items > li::marker {
  color: var(--main-color);
}

.section__items li {
  padding: 1rem 0;
}

.section__links {
  list-style-type: none;
}

.section__links li {
  padding: 1rem 0;
}

.code-snippet {
  padding: 0.5rem 1rem;
  font-family: var(--code-snippet-font);
  font-size: 1.6rem;
  background-color: var(--code-snippet-bg);
}

.projects > li::marker {
  font-weight: bold;
  color: var(--main-color);
}

.project__title a {
  border: none;
  text-decoration: none;
  color: var(--main-color);
}

.project__title a:hover {
  border-bottom: 1px solid var(--main-color-active);
  color: var(--main-color-active);
}

.project__techstack {
  margin-bottom: 1rem;
  font-weight: bold;
  text-indent: 0;
  color: var(--main-color);
}

.contacts-table td {
  padding: 0.5rem 1rem;
}

.contacts-table td:first-child {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);
}

footer {
  padding: 1rem 2rem;
  background-color: var(--main-color);
}

.footer__copyright {
  margin: 0;
  font-size: 0.7em;
  font-weight: bold;
  color: var(--light-color);
}

.footer__copyright a {
  color: var(--light-color);
}

.footer__copyright a:hover {
  border-bottom-color: var(--light-color);
}

